[submodule "formulare"]
	path = formulare
	url = https://github.com/chaos-inkl/formulare.git
	branch = master
[submodule "design"]
	path = design
	url = https://github.com/chaos-inkl/design.git
	branch = master
[submodule "ordnungen"]
	path = ordnungen
	url = https://github.com/chaos-inkl/ordnungen.git
	branch = master
